.wrapper{
  position: relative;
  margin-top: 60px;
}

.flexbox{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.task_form{
  position: fixed;
  top: 50px;
  right: 0;
}

.add_task_button{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  cursor: pointer;

}
